.container{
    max-width: 100vw;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 0px 0px;
}

.bars_container{
    display: flex;
    width: 94vw;
    height: 86vh;
    background-color: rgba(255, 255, 255, 0.329);
    border-radius: 30px;
    padding: 2%;
    align-items: last baseline;
    position: absolute;
    bottom: 6%;
}

.bar{
    display: inline-block;
    margin: 0 1px;
    border-radius: 5px;
}

.buttons_container{
    position: absolute;
    bottom: 0.2%;
}

.buttons_container > button, select{
    width: 200px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.329);
    margin: 10px;
    margin-left: 70px;
    border: none;
    border-radius: 5px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition:  0.2s ease-in-out;
}

.slider{
  -webkit-appearance: none;
  appearance: none;
  height: 7px;
  background: rgba(255, 255, 255, 0.329);
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none; 
    width: 20px;
    height: 20px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
  }

button:hover{
    background-color: rgba(255, 255, 255, 0.329);
}
/*------------------------------------*/
.container select option{
    background-color: rgba(255, 255, 255, 0.329);
    color: black;
}
/*-------------------------------------*/